@import "../valo/valo.scss";

@mixin vodtheme {
  @include valo;

  /* An actual theme rule */
  .v-button {
    //color: blue;
  }
  
  .v-gridlayout {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
  }
  
  .app-headline {
  	font-size: 14pt;
  	font-weight: bold;
  	background-color: #EEEEEE;
  	padding-top:10px;
  	padding-left:10px;
  	padding-right:10px;
  	padding-bottom:5px;
  	border-bottom: 3px solid gray;
  }
  
  .app-content {
	background-color: white;
	}
	
  .dashboard {
	padding-top:10px;
  	padding-left:10px;
  	padding-right:10px;
  	padding-bottom:5px;
  }
  
  .auditView-headline {
  	font-size: 14pt;
  }
  
  .activeAuditLayout {
  	border: 2px solid gray;
    border-radius: 10px;
  }
  
  .activeAuditFilterView {
  	border-bottom: 1px solid gray;
  }
  
  .auditListView-captionLabel {
  	font-size: 14pt;
  	font-weight: bold;
  }
  
  .auditView-periodLabel {
    font-weight: bold;
  }
}